-if Rails.env.development?
  %nav.top-bar{"data-options" => "is_hover: false", "data-topbar" => ""}
    %ul.title-area
      %li.name
        %h1
          =link_to 'Foundation Sample App', '/'
    %section.top-bar-section
      %ul.left
        %li=link_to 'Jumpcloud', nil
      %ul.left
        %li.has-dropdown
          =link_to 'Opsworks', nil
          %ul.dropdown
            %li
              =link_to 'Staging Environments', nil
        %li.has-dropdown
          =link_to 'Monitoring', '#'
          %ul.dropdown
            %li
              =link_to 'New Relic Errors', nil
        %li.has-dropdown
          =link_to 'Zuul', '#'
          %ul.dropdown
            %li
              =link_to 'Run Recipes', nil
            %li
              =link_to 'Modify Routes', nil