.title-bar{"data-hide-for" => "all", "data-responsive-toggle" => "side-menu"}
  %button.menu-icon{"data-toggle" => "", :type => "button"}
  .title-bar-title External Links

#side-menu.sidebar
  %ul.dropdown.menu.vertical{"data-dropdown-menu" => ""}
    %li.has-submenu
      %a{:href => "#"} Personal Links
      %ul.submenu.menu.vertical{"data-submenu" => ""}
        -@external_links.each do |link|
          %li=link_to link[:name], link[:url], :target => "_blank"
    %li.has-submenu
      %a{:href => "#"} Applications
      %ul.submenu.menu.vertical{"data-submenu" => ""}
        -@application_links.each do |link|
          %li=link_to link[:name], link[:url], :target => "_blank" #main_app.app_path(id: link[:id])
    %li.has-submenu
      %a{:href => "#"} Help Links
      %ul.submenu.menu.vertical{"data-submenu" => ""}
        %li=link_to 'GRRP Chart', image_path('platform-on-call-flow.png')
        %li=link_to 'Zuul Chart', image_path('zuul-on-call-flow.png')