%ul.vertical.menu{"data-accordion-menu" => ""}
  %li
    %a{:href => "#"} Item 1
    %ul.menu.vertical.nested.is-active
      %li
        %a{:href => "#"} Item 1A
        %ul.menu.vertical.nested
          %li
            %a{:href => "#"} Item 1Ai
          %li
            %a{:href => "#"} Item 1Aii
          %li
            %a{:href => "#"} Item 1Aiii
      %li
        %a{:href => "#"} Item 1B
      %li
        %a{:href => "#"} Item 1C
  %li
    %a{:href => "#"} Item 2
    %ul.menu.vertical.nested
      %li
        %a{:href => "#"} Item 2A
      %li
        %a{:href => "#"} Item 2B
  %li
    %a{:href => "#"} Item 3

-#.sidebar
-#  %h5.row.sidebar-title External Links
-#  -@external_links.each do |link|
-#    .row=link_to link[:name], link[:url], :target => "_blank"
-#  %h5.row.sidebar-title Applications
-#  -@application_links.each do |link|
-#    .row=link_to link[:name], link[:url], :target => "_blank" #main_app.app_path(id: link[:id])
-#  %h5.row.sidebar-title Help
-#  .row=link_to 'GRRP Chart', image_path('platform-on-call-flow.png')
-#  .row=link_to 'Zuul Chart', image_path('zuul-on-call-flow.png')